.dropdown-item.active, .dropdown-item:active {
    background-color: #EE8126;
}

#rgpd h2{
    color: #EE8126;
    margin-top: 1em;
    margin-bottom: 1em;
}

#rgpd h3{
    margin-top: 1em;
    margin-bottom: 1em;
}