
<!-- ========================= partner-logo-section start ========================= -->
<section class="client-logo-section pt-100 pb-130">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                <div class="client-logo">
                    <a href="{{ url('http://www.meyrie-village.com/') }}">
                        <img src="{{ 'assets/img/client-logo/meyrie.png' | theme }}" alt="Ville de Meyrié">
                    </a>
                </div>
                <div class="client-logo">
                    <a href="{{ url('https://www.loxam.fr/') }}">
                        <img src="{{ 'assets/img/client-logo/loxam.svg' | theme }}" alt="Loxam">
                    </a>
                </div>
                <div class="client-logo">
                    <a href="{{ url('https://letes-chapiteaux.com/') }}">
                        <img src="{{ 'assets/img/client-logo/etechap.png' | theme }}" alt="Eté chapiteau">
                    </a>
                </div>
                <div class="client-logo">
                    <a href="{{ url('https://www.layher.fr/') }}">
                        <img src="{{ 'assets/img/client-logo/layher_logo.png' | theme }}" alt="Layher">
                    </a>
                </div>
                <div class="client-logo">
                    <a href="{{ url('https://www.musicplusgrenoble.fr/') }}">
                        <img src="{{ 'assets/img/client-logo/mplus.png' | theme }}" alt="Music Plus">
                    </a>
                </div>
                <div class="client-logo">
                    <a href="{{ url('https://www.stageup.eu/') }}">
                        <img src="{{ 'assets/img/client-logo/stageup.png' | theme }}" alt="Stage Up">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= partner-logo-section end ========================= -->